<header>
  <div class="container">
    <h1>
      <a href="/">PostHere!</a>
    </h1>

    <nav>
      <ul>
        <% if (locals.user) { %>
          <% if (!user.hasMembership) {%>
            <li>
              <a href="/users/vip" title="Se torne VIP">
                <i class="bi bi-gem"></i>
              </a>
            </li>
          <% } %>
          <li>
            <a href="/users/<%=user.username%>" title="Seu perfil">
              <img src="<%= user.profileImage || '/img/users/profile/default.jpg' %>" alt="">
            </a>
          </li>
          <li>
            <a href="/logout" title="Sair">
              <i class="bi bi-box-arrow-right"></i>
            </a>
          </li>
        <% } else { %>
          <li><a href="/login">Entrar</a></li>
          <li><a href="/signup">Cadastrar-se</a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
