<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#294d4a" />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/auth.css" />

    <title>Recurso não encontrado - PostHere!</title>
  </head>
  <body>
    <%- include('layout/header') %>

    <main>
      <div class="container">
        <div class="error-page">
          <h2>Erro <%= error.status %></h2>
          <p><%= error.message %></p>
        </div>
      </div>
    </main>

    <%- include('layout/footer') %>
  </body>
</html>
